<!DOCTYPE html>
<html>
<head>
	<meta charset="windows-1251" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/angularjs")
	@Scripts.Render("~/bundles/app")
</head>
<body>
	@RenderBody()

	@Scripts.Render("~/bundles/jquery")
</body>
</html>
